{% extends 'blog/base.html' %}

{% block body_block %}


<!-- <div class="centerstage"> -->
  {% for post in post_list %}
          <div class="boxx">
            <h1><a class="changeColor titlelist" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

            <p class="publishedby">Published By: {{ post.author}}</p>
            <a class="commentsizenotbox" href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
            <div class="date">
                <p>Published on:{{ post.published_time|date:"D M Y"}}</p>
            </div>

            <hr>
          </div><br><br>

  {% endfor %}
<!-- </div> -->


{% endblock %}
